@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --app-primary: rgba(255, 255, 255, 1);
  --app-secondary: rgba(245, 245, 245, 1);
  --body-base-font-family: "Inter", Helvetica;
  --body-base-font-size: 16px;
  --body-base-font-style: normal;
  --body-base-font-weight: 400;
  --body-base-letter-spacing: 0px;
  --body-base-line-height: 140%;
  --body-strong-font-family: "Inter", Helvetica;
  --body-strong-font-size: 16px;
  --body-strong-font-style: normal;
  --body-strong-font-weight: 600;
  --body-strong-letter-spacing: 0px;
  --body-strong-line-height: 140%;
  --button: rgba(0, 0, 0, 1);
  --drop-shadow-200: 0px 1px 4px 0px rgba(12, 12, 13, 0.05), 0px 1px 4px 0px
    rgba(12, 12, 13, 0.1);
  --heading-24px-bold-font-family: "Inter", Helvetica;
  --heading-24px-bold-font-size: 24px;
  --heading-24px-bold-font-style: normal;
  --heading-24px-bold-font-weight: 700;
  --heading-24px-bold-letter-spacing: 0.72px;
  --heading-24px-bold-line-height: 24px;
  --m3syslighton-surface: rgba(29, 27, 32, 1);
  --single-line-body-base-font-family: "Inter", Helvetica;
  --single-line-body-base-font-size: 16px;
  --single-line-body-base-font-style: normal;
  --single-line-body-base-font-weight: 400;
  --single-line-body-base-letter-spacing: 0px;
  --single-line-body-base-line-height: 100%;
  --text: rgba(250, 250, 250, 1);
  --text-2: rgba(0, 0, 0, 1);
  --title-12px-regular-font-family: "Poppins", Helvetica;
  --title-12px-regular-font-size: 12px;
  --title-12px-regular-font-style: normal;
  --title-12px-regular-font-weight: 400;
  --title-12px-regular-letter-spacing: 0px;
  --title-12px-regular-line-height: 18px;
  --title-14px-regular-font-family: "Poppins", Helvetica;
  --title-14px-regular-font-size: 14px;
  --title-14px-regular-font-style: normal;
  --title-14px-regular-font-weight: 400;
  --title-14px-regular-letter-spacing: 0px;
  --title-14px-regular-line-height: 21px;
  --title-16px-medium-font-family: "Poppins", Helvetica;
  --title-16px-medium-font-size: 16px;
  --title-16px-medium-font-style: normal;
  --title-16px-medium-font-weight: 500;
  --title-16px-medium-letter-spacing: 0px;
  --title-16px-medium-line-height: 24px;
  --title-16px-regular-font-family: "Poppins", Helvetica;
  --title-16px-regular-font-size: 16px;
  --title-16px-regular-font-style: normal;
  --title-16px-regular-font-weight: 400;
  --title-16px-regular-letter-spacing: 0px;
  --title-16px-regular-line-height: 24px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
